@import url("./fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 992px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br,
  p br {
    display: none;
  }
}

.heading {
  font-size: 64px;
  line-height: 64px;
  font-family: "Helvetica-Bold";
}

.heading span {
  font-family: "Helvetica-Bold";
  background: -webkit-linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 24px;
  line-height: 28px;
  font-family: "Helvetica-Light";
}

.Event-main .heading-h2 {
  font-family: "Helvetica-Bold";
}

.Event-main .desc,
.Event-main .icon-desc {
  font-size: 18px;
  line-height: 20px;
  font-family: "Helvetica-Light";
  font-weight: 400;
}

.Event-main .desc .linkk,
.Event-main .icon-desc span,
.Event-main .icon-heading {
  display: inline;
  font-size: 18px;
  line-height: 20px;
  font-family: "Helvetica-Bold";
}

@media (max-width: 575px) {
  .Event-main .desc {
    font-size: 16px;
    line-height: 18px;
    font-family: "Helvetica-Light";
    font-weight: 400;
  }

  .Event-main .desc .linkk,
  .Event-main .icon-heading {
    display: inline;
    font-size: 16px;
    line-height: 10px;
    font-family: "Helvetica-Bold";
  }

  .Event-main .icon-desc span,
  .Event-main .icon-desc {
    font-size: 14px;
    line-height: 16px;
  }
}
