@import url("./fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 992px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br,
  p br {
    display: none;
  }
}

.heading {
  font-size: 64px;
  line-height: 64px;
  font-family: "Helvetica-Bold";
}

.heading span {
  font-family: "Helvetica-Bold";
  background: -webkit-linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
